@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  color: #c5c6c7;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Input Field Label Animation */
.outline-animation input:focus-within ~ label,
.outline-animation input:not(:placeholder-shown) ~ label {
  @apply -translate-y-6 scale-75 transform;
}

.outline-animation input:focus-within ~ label,
.outline-animation input:not(:placeholder-shown) ~ label {
  @apply z-0 ml-3 -translate-y-5 scale-90 transform px-1 py-0 text-primary;
}

.outline-animation input:not(:placeholder-shown) ~ label {
  @apply text-secondary;
}

/* Change autofill color */
input:-internal-autofill-selected,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #c5c6c7;
}
